PORT=5000
SEARCHAPI_KEY=FdJt9AxydYkGvJAK6SrUP3sJ
# Optional
# SEARCHAPI_BASE_URL=https://www.searchapi.io/api/v1/search
# Fallback only (if you want YouTube Data API v3)
YOUTUBE_API_KEY=AIzaSyBroZLzFmEnzoatDROyaDIMBT-iXk28eLk

